PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Naruto2005
DB_NAME=dahira_app
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d

# Configuration SMTP pour l'envoi d'emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=thicosylva@gmail.com
SMTP_PASS=nelgfqppffgknyer
# SMTP_FROM_NAME=Dahira App
# SMTP_FROM_EMAIL=noreply@dahira-app.com

# URL du frontend pour les liens d'invitation
FRONTEND_URL=http://localhost:3000
